annotated-types==0.7.0
anyio==4.5.2
argcomplete==3.5.1
blinker==1.4
certifi==2019.11.28
chardet==3.0.4
click==7.0
colorama==0.4.3
fastapi==0.115.14
httptools==0.6.4
idna==2.8
importlib-metadata==1.5.0
Jinja2==2.10.1
MarkupSafe==1.1.0
numpy==1.24.4
packaging==24.2
pandas==2.0.3
protobuf==3.20.1
psutil==6.1.0
pydantic==2.10.6
pydantic-core==2.27.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2024.2
requests==2.22.0
six==1.14.0
starlette==0.44.0
typing-extensions==4.13.2
tzdata==2024.2
urllib3==1.25.8
uvicorn==0.33.0
uvloop==0.21.0
watchfiles==0.24.0
websockets==13.1
zipp==3.20.2
